n8n-workflow-send-debt-reminder-whatsapp.json
{
  "name": "Send Debt Reminder WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-debt-reminder-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "send-debt-reminder-whatsapp"
    },
    {
      "parameters": {
        "jsCode": "// Importer les fonctions WhatsApp\nconst whatsapp = require('/data/n8n/whatsapp.js');\n\n// Extraire les données du webhook\nconst data = $input.first().json.body || $input.first().json;\n\nconsole.log('Données rappel dette reçues:', JSON.stringify(data));\n\n// Le message est déjà formaté par l'application\nconst text = data.message || '';\nconst phone = whatsapp.normalizePhone(data.phone || '');\n\nreturn [{\n  json: {\n    phone: phone,\n    text: text\n  }\n}];"
      },
      "id": "extract-data-node",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_SERVICE_URL || 'http://whatsapp-service:3001' }}/api/sendText",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "send-message-node",
      "name": "Send Message WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"success\": true, \"message\": \"Rappel de dette envoyé par WhatsApp\"} }}"
      },
      "id": "respond-success-node",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Send Message WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message WhatsApp": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "techzone"
  },
  "tags": []
}
